.chat-settings-container {
    color: #393744;
    background-color: #6f6c7f;

    font-size: 1.5rem;
    font-weight: 600;
    width: 0;
    min-width: 0;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    cursor: default;

    transition: 0.5s;
    white-space: nowrap;
}

.settings-title {
    padding-block: 0.5rem;
    color: #6f6c7f;
    background-color: #393744;

    text-align: center;
    border-bottom: 1px solid #4b485a;
}

.people-container,
.group-option-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
}

.people-container {
    border-bottom: #4b485a solid 3px;
    max-height: 14.25rem;
    overflow: hidden;
}


.people-title,
.group-option-title {
    /* justify-content: baseline; */

    padding-inline: 0.75rem;
    padding-block: 0.5rem;

    border-bottom: #4b485a 2px solid;
}

.people-list {
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 0.5rem;
    padding: 0;

    list-style: none;
    overflow-y: auto;
}

.people-list li {
    display: flex;
    align-items: center;

    padding-inline: 0.75rem;
    height: 2.5rem;
}

.admin {
    justify-content: space-between;
}

.not-admin {
    justify-content: end;
}

.li-item {
    display: flex;
    align-items: center;

    gap: 0.35rem;
}

.people-list li:hover {
    background-color: #393744;
    color: #a4a0ba;
}

/* .people-find { */
/* box-shadow: 0 -1px 3px #393744; */
/* margin-block: 0.25rem; */
/* position: sticky;
    bottom: 0; */
/* } */

.group-option-list {
    margin: 0;
    /* padding: 0; */
    padding-block: 0.5rem;
    padding-inline: 0.75rem;

    display: flex;
    flex-direction: column;

    gap: 0.75rem;
    /* padding-block: 0.25rem; */
}

.group-option-list button {
    list-style: none;
    border: none;

    color: #4b485a;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 100vmax;

    cursor: pointer;
}

.delete-dialog-container {
    border-radius: 17px;
    padding: 0;
    border: none;

    width: 50%;
}

.delete-message {
    padding-inline: 2rem;
    padding-block: 0.75rem;


    color: rgb(218, 33, 33);
    background-color: rgba(255, 39, 39, 0.144);
    overflow-wrap: break-word;
}

.delete-message p {
    font-size: 1.2rem;
}

.delete-form {
    padding-inline: 2rem;
    padding-block: 3rem;
    font-size: 1.2rem;
}

.delete-form p {
    color: #6f6c7f;
    font-weight: 400;
}

.delete-form p strong {
    color: #000;
}

.delete-form input {
    height: 2.5rem;
    width: 50%;

    border: 1px solid rgba(188, 188, 188, 0.728);
    border-radius: 5px;

    padding-left: 0.5rem;
    font-size: 1rem;
}

.delete-form input::-webkit-input-placeholder {
    color: #a4a0ba;
}

.delete-form input::-moz-placeholder {
    color: #a4a0ba;
}

.delete-form input::-ms-placeholder {
    color: #a4a0ba;
}

.delete-form input::placeholder {
    color: #a4a0ba;
}

.btn-form button {
    width: 5.5rem;
    height: 2.5rem;

    border-radius: 13px;
    border: none;

    font-size: medium;
}

.btn-form {
    margin-top: 4.25rem;

    display: flex;
    align-items: center;
    justify-content: end;

    gap: 0.25rem;
}

.btn-form .btn-1 {
    background-color: inherit;
}

.btn-1:hover {
    background-color: #e9e9ed;
}

.btn-form .btn-2:disabled {
    color: #393744;
    background-color: #e9e9ed;
    pointer-events: none;
}

.btn-form .btn-2 {
    color: #f0f0f0;
    background-color: rgb(218, 33, 33);
}

.btn-form .btn-2:hover {
    color: #f0f0f0;
    background-color: rgb(187, 29, 29);
}